<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lady.viktoria.lightdrip">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="remove" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".services.CgmBleService"
            android:process=":services">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <service
            android:name=".services.SchedulerJobService"
            android:process=":services">
        <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.DriveBackupService"
            android:process=":services">
        </service>

        <receiver
            android:name=".receiver.CgmBleServiceRestarter"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.lady.viktoria.lightdrip.services.RestartCgmBleService" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.SchedulerJobServiceRestarter"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.lady.viktoria.lightdrip.services.RestartSchedulerJobService" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BroadcastReceiverOnBootComplete">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PreferncesActivity"
            android:label="@string/action_preferences"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lady.viktoria.lightdrip.MainActivity" />
        </activity>

        <activity
            android:name=".BackupActivity"
            android:parentActivityName=".PreferncesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lady.viktoria.lightdrip.PreferncesActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4ee637e9d32a37083732de46f9287d593e25fc63" />

    </application>
</manifest>